<f:if condition="{items}">

	<f:then>
		<table>
			<tr>
				<td>uid</td>
				<td>title</td>
				<td>categories</td>
			</tr>
			<f:for each="{items}" as="item">
				<tr>
					<td>{item.uid}</td>
					<td>{item.title}</td>
					<td>
						<ul>
							<f:for each="{item.categories}" as="category">
								<li>{category.title}
									<small>({category.uid})</small>

									<f:link.action arguments="{category:category}">debug-link</f:link.action>&middot;
									<f:link.action action="show" arguments="{item:item}">details</f:link.action>
								</li>
							</f:for>
						</ul>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>no items</f:else>
</f:if>